/* First Row */

/* ----------------------------------------- End of Navbar */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid rgb(76, 219, 255);
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
}

.icons {
    padding: 20px;
    font-size: 24px;
    width: 44px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
}


/* ------------------------- */

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}





.second-line {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    padding: 0;
}


/* css for footer */

.border-top {
    border-top: none!important;
}


.social-icon-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.social-icon-group a {
    margin-left: 10px;
    margin-right: 10px;
}
