/* First Row */


/* mini reset */
.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0;
}

.nav {
    width: 100%;
    display: flex;

}
.nav a {
  text-decoration: none;
}
.nav li {
  list-style: none;
  width: 16.66%;
}

/* menu container */
.nav,
input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.nav {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 500;
}

/* menu list */
.nav > li {
  float: left;
}

/* menu links */
.nav > li > a {
  background: white;
  color: black;
  display: block;
  font-weight: bold;
  line-height: 3.5;
  padding: 0 1.25em;
  position: relative;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  transition: all .3s ease;
  z-index: 510;
}
.nav > li > a:focus,
.nav > li:hover > a {
  background: black;
  color:white;
}
.nav > li:first-child > a {
  border-left: none;
}


/* menu dropdown */
.mega-menu {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease .15s;
  visibility: hidden;
  width: 100%;
  font-size: 15px;
}
li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* menu content */
.nav-column {
  float: left;
  padding: 2.5%;
  width: 20%;
}
.nav-column a {
  color: #888;
  display: block;
  font-weight: bold;
  line-height: 1.75;
}
.nav-column a:hover {
  color: #2196f3;
}
h3 {
  color: #372f2b;
  font-size: .95em;
  font-weight: bold;
  line-height: 1.15;
  margin: 1.25em 0 .75em;
  text-transform: uppercase;
}
.highlight {
  color: #2196f3;
}

.nav-column ul li {
    width: 100%;
}

.carousel-caption {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}


/* ----------------------------------------- End of Navbar */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid rgb(76, 219, 255);
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
}

.icons {
    padding: 20px;
    font-size: 24px;
    width: 44px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
}

/* Inline Form Search Bar After Carousel */


.jumbotron {
    margin-top: 50px;
    margin-bottom:50px;
}

.jumbotron > .container > form {
    display: block;

}

.form-inline {
    box-sizing: border-box!important;
}

.form-inline > input{
    width: 90%!important;
    border-radius: 4px;
    margin-right:0px!important;
}

button > .fa-search {
    margin: 0px;
}
/* ------------------------- */

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bold-text {
    font-weight: 700;
    font-size:1em;
}

.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fa-search {
    margin-right: 8px;
}

/* css for jumbotron */

.firstcall {
    display: flex;
    background-image: url('../images/d_home.jpg')!important;
    color: black;
    height: 700px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.jumbotron-fluid > container {
    display: flex;
    flex-direction: column;
    justify-content: center;
     
} 


/* css for carousel */

.btn {
    border-radius: 5px;
}

.jumbotron {
    background: white;
    text-align: center;
}

.second-line {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    padding: 0;
}

/* card-group section */

.card-group {
    margin-bottom: 20px;
}

.card {
    background: white !important; ;
    color: black !important;
    border: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.card img {
    max-height: 250px;
}

.card-img-overlay {
    display: flex;
    text-align: right;
}

.card-img-overlay h5 {
    align-self: flex-end;
    text-align: right;
}

/* css for footer */

.border-top {
    border-top: none!important;
}


.social-icon-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.social-icon-group a {
    margin-left: 10px;
    margin-right: 10px;
}
