
/* First Row */


.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bold-text {
    font-weight: 700;
    font-size:1em;
}

.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fa-search {
    margin-right: 8px;
}

/* mini reset */
.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0;
}

.nav {
    width: 100%;
    display: flex;

}
.nav a {
  text-decoration: none;
}
.nav li {
  list-style: none;
  width: 16.66%;
}

/* menu container */
.nav,
input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.nav {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 500;
}

/* menu list */
.nav > li {
  float: left;
}

/* menu links */
.nav > li > a {
  background: white;
  color: black;
  display: block;
  font-weight: bold;
  line-height: 3.5;
  padding: 0 1.25em;
  position: relative;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  transition: all .3s ease;
  z-index: 510;
}
.nav > li > a:focus,
.nav > li:hover > a {
  background: black;
  color:white;
}
.nav > li:first-child > a {
  border-left: none;
}


/* menu dropdown */
.mega-menu {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease .15s;
  visibility: hidden;
  width: 100%;
  font-size: 15px;
}
li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* menu content */
.nav-column {
  float: left;
  padding: 2.5%;
  width: 20%;
}
.nav-column a {
  color: #888;
  display: block;
  font-weight: bold;
  line-height: 1.75;
}
.nav-column a:hover {
  color: #2196f3;
}
h3 {
  color: #372f2b;
  font-size: .95em;
  font-weight: bold;
  line-height: 1.15;
  margin: 1.25em 0 .75em;
  text-transform: uppercase;
}
.highlight {
  color: #2196f3;
}

.nav-column ul li {
    width: 100%;
}

.carousel-caption {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}


/* ----------------------------------------- End of Navbar */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid rgb(76, 219, 255);
    margin: 1em 0;
    padding: 0;
}

.icons {
    padding: 20px;
    font-size: 24px;
    width: 44px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
}
/* ---------Profile Page Specific ------------*/

.active {
    display: block;
}

.hide {
    display: none;
}

.headbar {
    display:flex;
    justify-content: center;
}

#answer, #answer2, #answer3 {display: none;}

.new_member_box {
    margin: 10px;
}

.new_member_box a {
    text-decoration: none;
    color: black;
}

/* css for overview section */

.leftmost , .middle , .rightmost {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}


/* card-group section */

.card-section {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 300px;
    background: transparent;
}

.card {
    border:none;
    text-align: center;
    background: transparent;
    margin: 10px;
    
}

.card-group-title {
    display: flex;
    justify-content:center;

}

.card-section-2 {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 300px;
    background: transparent;
}

.custom {
    background-color: rgb(76, 219, 255);
}

.section-title-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.card-group-title {
    margin-bottom: 40px;
}

.rightmost {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 700;
}


/* --------------- For Portfolio Page Specific -------------------*/

/* Vertically Aligned Gallery  */

.row-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-shell { 
    display: none;
}

/* Create four equal columns that sits next to each other */
.column {
    box-sizing: border-box;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* before gallery section */

/* Inline Form Search Bar After Carousel */


.jumbotron > .container > form {
    display: block;

}

.form-inline {
    box-sizing: border-box!important;
}

.form-inline > input{
    width: 80%!important;
    margin-right:0px!important;
    margin-left: 50px;
}



button > .fa-search {
    margin: 0px;
}

.search-box {
    width: 45%;
}

/* Before Gallery Select DropDown Section */

.before-gallery {
    display: flex;
    justify-content:space-between;
}

form > .btn {
    border-radius: 0px!important;
    margin-left: 5px;
}

.before-gallery > .form-group {
    width: 40%;
    margin-right: 50px;
}

/* For second row part of code */

.second-row-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom:40px;
}

.second-row-left {
    display: inline-block;
    width: 60%;
}

.second-row-right {
    display: inline-block;
    width: 30%;
}

/* For jumbotron : the three dropdown menus */



/* css for first jumbotron */

.firstcall {
    display: flex;
    background-image: url('../images/properties_bg.jpg')!important;
    color: black;
    height: 664px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.jumbotron-fluid > container {
    display: flex;
    flex-direction: column;
    justify-content: center;
     
} 
.btn {
    border-radius: 5px;
}

.jumbotron {
    background: white;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

h1 {
    font-weight: 600!important;
}

a:visited {
    color: aqua;
}
/* before gallery section */

/* Inline Form Search Bar After Carousel */


.jumbotron > .container > form {
    display: block;

}

.form-inline {
    box-sizing: border-box!important;
}

.form-inline > input{
    width: 65%!important;
    margin-right:0px!important;
    margin-left: 50px;
    border-radius: 0;
}



button > .fa-search {
    margin: 0px;
}

.search-box {
    display: block;
    width: 40%;
}


/* Before Gallery Select DropDown Section */

.before-gallery {
    display: flex;
    justify-content:space-between;
}

form > .btn {
    border-radius: 0px!important;
    margin-left: 5px;
}

.before-gallery > .form-group {
    width: 30%;
    margin-right: 50px;
}

/* Load More Button And Profile */


.bottom-btn-group {
    margin-top: 40px;
}

.bottom-btn-group > p {
    text-align: right;
}

/* -------------------- For About Specific Section in 3 main buttons --------------*/

.about {
    display: inline-block;
    margin-bottom: 70px;
}

.about > img {
    float: left;
    margin-right:20px;
}



/* ---------------------Common use css ------------------ */

/* css for second line */

.second-line {
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  border: 0;
  border-top: 2px solid black;
  padding: 0;
}

/* css for footer */

.border-top {
    border-top: none!important;
}


.social-icon-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.social-icon-group a {
    margin-left: 10px;
    margin-right: 10px;
}
